@CHARSET "UTF-8";
body {
    background-color: #2E3135;
}
#header {
    position: fixed;
    height: 50px;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
    top: 0;
    left: 0;
}
#logo {
	position: absolute;
	float: left;
	margin-left: 10%;
}
#logo img {
	float: left;
	display: block;
	overflow: auto;
	max-height: 50px;
}
#logo h2 {
	float: right;
	margin-top: 5px;
	font-family: cursive;
	color: #fff;
	display: inline-block;
}
#logimine {
	margin-right: 10%;
	float: right;
}
#logimine ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
#logimine ul li {
	float: left;
	display: inline;
}
#logimine ul li a {
	display: block;
    text-decoration: none;
    color: #fff;
    padding: 14.5px 1em;
    background-color: #369;
}
#logimine ul li a:hover
{
color: #fff;
background-color: #036;
}
#sisukord {
    position:  fixed;
    top:  10%;
    left: 5%;
    width: 15%;
}
#sisukord h2{
    text-align: center;
}
#uudised {
    position: absolute;
    left:  25%;
    top: 10%;
    width: 45%;
    overflow: auto;
}
#uudised ul {
	margin: 0;
	padding: 5px;
	list-style-type: none;
}
#uudised ul li {
	margin-bottom: 5px;
    background-color: #E5EBDF;
    border: 1px solid black;
}
#widgets {
    text-align: center;
    position: fixed;
    top: 10%;
    left: 75%;
    height: 400px;
    width: 20%;
}
#login {
	float: right;
	margin-right: 10%;
}
.disain {
    background-color: #369;
    border:solid 1px #F8EED3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: Calibri, cursive;
}
#valikud {
    margin: 5px;
    border: solid 1px;
}