@CHARSET "UTF-8";
body {
    /*background-color: #2E3135;*/
    background-image:url("/taustamustrid/grey_wash_wall.png");
	background-repeat:repeat;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

/*
HEADER
*/

#header {
    position: fixed;
    height: 50px;
    width: 90%;
    padding: 0;
    margin-left: 5%;
    z-index: 1;
    top: 0;
    left: 0;
}
#logo {
	position: absolute;
	float: left;
	margin-left: 10%;
}
#logo img {
	float: left;
	display: block;
	overflow: auto;
	max-height: 50px;
}
#logo h2 {
	float: right;
	margin-top: 5px;
	color: #fff;
	display: inline-block;
}

/*
LOGIMINE
*/

#logimine {
	margin-right: 10%;
	float: right;
}
#logimine ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
#logimine ul li {
	float: left;
	display: inline;
}
#logimine, ul li p {
	color: white;
}
#logimine ul li a {
	display: block;
    text-decoration: none;
    color: #fff;
    padding: 14.5px 1em;
    background-color: #369;
}
#logimine ul li a:hover
{
color: #fff;
background-color: #036;
}
#uudised {
    position: absolute;
    left:  25%;
    top: 10%;
    width: 45%;
    overflow: auto;
}
#uudised ul {
	margin: 0;
	padding: 2%;
	list-style-type: none;
	text-align: center;
}
#uudised ul li {
	margin-bottom: 5px;
    background-color: #E5EBDF;
    border: 1px solid black;
}
#uudised ul li a {
	text-decoration: none;
}

/*
SISUKORD
*/

#sisukord {
    position:  fixed;
    top:  10%;
    left: 5%;
    width: 15%;
}
#sisukord h2{
    text-align: center;
    font-size: re;
}
#valikud {
	padding: 5px;
	margin: 10%;
	background-color: #E5EBDF;
    border: 1px solid black;
}

#valikud form{
	padding-left: 10px;
}
#otsing {
	padding: 5px;
	margin: 10%;
	background-color: #E5EBDF;
    border: 1px solid black;
}
#otsing input, button {
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*
WIDGETID
*/

#widgets {
    text-align: center;
    position: fixed;
    top: 10%;
    left: 75%;
    height: 400px;
    width: 20%;
}
#widgets ul {
	margin: 10%;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
#widgets ul li {
	margin-bottom: 10px;
	padding: 5px;
    background-color: #E5EBDF;
    border: 1px solid black;
    
    
}
#widgets ul li a {
	text-decoration: none;
	color: black;
}
#widgets ul li:hover {
	box-shadow: 5px 5px 3px black;
}
.disain {
    background-color: #369;
    border:solid 1px #F8EED3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*
UUDISELEHT
*/
#uudiscontainer {
	color: black;
    position: absolute;
    left:  5%;
    top: 10%;
    width: 65%;
    height: 85%;
    overflow: auto;
    
}
#uudisekene {
	color: black;
	background-color: white;
    position: absolute;
    left:  5%;
    top: 1%;
    width: 90%;
    height: 98%;
    overflow: auto;
    
}
#uudisekene h1{
	text-align: center;
}
#uudistekst{	
	left: 5%;
    position: center;
}
#uudispilt img{	
    top: 2%;
    width:60%;
    
}

#chatikast {
    text-align: center;
    position: fixed;
    top: 10%;
    left: 75%;
    height: 85%;
    width: 20%;
}
#chatikast textarea {
	min-height: 90%;
    height: auto !important;
    width: 95%;
    height: 100%;
}
#icons {
    margin-left: 5px;
    width: 4%;
    height: 10%;
}
#icons img {
    width: 100%;
    height: auto;
}