<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
        <servlet-name>sign</servlet-name>
        <servlet-class>server.AndmebaasiTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sign</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>lisaUudis</servlet-name>
    	<servlet-class>server.UudiseLisamine</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>lisaUudis</servlet-name>
    	<url-pattern>/lisaUudis</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lemmikutesse</servlet-name>
        <servlet-class>server.LemmikuLisamine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lemmikutesse</servlet-name>
        <url-pattern>/lemmikutesse</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>bsproov3.jsp</welcome-file>
	</welcome-file-list>
</web-app>
