<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
        <servlet-name>sign</servlet-name>
        <servlet-class>server.AndmebaasiTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sign</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>kaardiotsing</servlet-name>
        <servlet-class>server.KaardiOtsing</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>kaardiotsing</servlet-name>
        <url-pattern>/kaardiotsing</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>lisaUudis</servlet-name>
    	<servlet-class>server.UudiseLisamine</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>lisaUudis</servlet-name>
    	<url-pattern>/lisaUudis</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>lemmikutesse</servlet-name>
        <servlet-class>server.LemmikuLisamine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lemmikutesse</servlet-name>
        <url-pattern>/lemmikutesse</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>otsing</servlet-name>
        <servlet-class>server.Otsing</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>otsing</servlet-name>
        <url-pattern>/otsing</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>tagasiside</servlet-name>
        <servlet-class>server.Tagasiside</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tagasiside</servlet-name>
        <url-pattern>/tagasiside</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>lemmikutest</servlet-name>
        <servlet-class>server.LemmikuEemaldamine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lemmikutest</servlet-name>
        <url-pattern>/lemmikutest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uuskommentaar</servlet-name>
        <servlet-class>server.Uuskommentaar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uuskommentaar</servlet-name>
        <url-pattern>/uuskommentaar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uuendakommentaare</servlet-name>
        <servlet-class>server.UuendaKommentaare</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uuendakommentaare</servlet-name>
        <url-pattern>/uuendakommentaare</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>bsproov3.jsp</welcome-file>
	</welcome-file-list>
</web-app>
