body {
	background-image:url("/taustamustrid/grey_wash_wall.png");
	background-repeat:repeat;
}
.col-md-3 {
	padding: 10px;
}
.col-sm-1 {
	padding: 10px;
}
#kommentaar {
	bottom: 0;
}

.modal-body object{
	width: 550px;
    height: 450px;
}

.panel-body form object {
	width: 550px;
    height: 450px;
}
.form-group textarea {
	resize: none;
}
#Pealkiri {
	width: 40%;
	height: 10%;
}
#Pilt {
	width: 40%;
	height: 10%;
}
.nupud {
	padding: 15px;
}
.form-control-md{
	padding: 10px;
}
textarea {
	resize: none;
}